header.bg-blue-600.py-4 
    .container.mx-auto.flex.justify-between.items-center 
         a(href="/") 
            h1.text-2xl.text-white.font-extrabold.text-center Jobs 
            nav(class="my-5 text-sm md:flex md:items-center md:gap-3 font-bold text-white")
                a(href="#") My jobs

    div(class="bf-blue-700 py-5 hidden lg:block")
       div(class="container mx-auto flex justify-center")
         nav(class="flex gap-4 items-center")

            
    